.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h3.margin-top0
      Integrated Infrastructure Provisioning and GitOps
    %p
      Modern infrastructure needs to be elastic. And the sooner you can move away from click-ops and
      script-ops, the sooner you can achieve this elasticity at scale.
      With a native integration with Terraform for
      %a{href: "https://docs.gitlab.com/ee/user/infrastructure/iac/"}infrastructure as code
      , GitLab can help you automatically provision and maintain changes to your
      infrastructure so your environment is ready for your deployment. For your cloud native environments, the
      %a{href: "https://docs.gitlab.com/ee/user/clusters/agent/"}GitLab Kubernetes agent
      helps to establish a secure connection with your Kubernetes Clusters
      and automatically identify and recover from infrastructure drift. From a single DevOps platform,
      the GitLab Kubernetes agent can help you establish an end to end GitOps
      workflow.

  .grid-item
    %h3.margin-top0
      DORA metrics
    %p
      Track your team's / organization's speed of delivery by
      tracking key
      %a{href: "https://docs.gitlab.com/ee/api/dora/metrics.html"}Continuous Delivery related metrics
      like Deployment Frequency (i.e., how often code is deployed to customers) and
      Lead time to change (i.e., time taken from code commit to production deployment).
