
<br> <br>
.row.more-features
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    .text-center
    %h2.text-center Why Continuous Delivery?
    .text-center
      As per the
      %a{href: "https://cloud.google.com/blog/products/devops-sre/announcing-dora-2021-accelerate-state-of-devops-report"} State of DevOps 2021 report
      by Google Cloud’s DevOps Research and Assessment (DORA) that showcases the DevOps maturity of a team / organization,
      over two-third of the respondents took 1 week or more to deploy code to production and over 50 percent took more
      then a day to restore an unplanned outage. Compared to this, elite or top performers are able to deploy on-demand and
      are able to restore services due to an unplanned outage in less than an hour.

      <br> <br>
      As per the report, elite DevOps performers practice Continuous Delivery. They do this by leveraging automation for faster deployments and recovery from downtime.
      They use tooling that helps them maintain a history of release versions, including stable release versions that they can roll back to in case of outages.
      They use one continuous workflow to plan, verify and observe deployment. Lastly, they continuously monitor production environments to ensure deployment doesn't cause unexpected outages.
      <br> <br>
